.page {
  display: flex;
  gap: 24px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  margin-top: 125px;
}

.title {
  font-size: 25px;
}

.card-large{
  background: #fff;
  margin-top: 100px;
  padding: 5px;
  height: 700px;
  border-radius: 12px;
}

.card-medium{
  background: #ddd;
  padding: 15px;
  height: 200px;
  border-radius: 12px;
}

.bio-wrapper {
    margin: 20px;
}

.cover {
  height: 120px;
  background: #ddd;
  border-radius: 12px;
}

.avatar-wrapper {
  margin-top: -30px;
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #aaa;
  margin: 0 auto;
}

.profile-name {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.bio-h {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.bio-p {
  font-size: 12px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 120px;
}

.button-row {
  display: flex;
  gap: 10px;
}