form {
  .form-group {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .form-checkbox-group {
    display: flex;
    align-items: center;

    label {
      font-weight: 400;
    }
  }

  .form-label {
    color: var(--form-label-text-color);
    font-weight: 500;
    font-size: 1.25rem;
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;

    .input-icon {
      position: absolute;
      left: 1rem;
      width: 20px;
      height: 20px;
      pointer-events: none; /* Gör så att man kan klicka "igenom" ikonen in i fältet */
    }

    &.has-icon .form-input {
      padding-left: 3rem; /* Gör plats för ikonen */
    }
  }

  .form-input {
    padding: 0.7rem;
    border-radius: 10px;
    outline: none;
    background-color: var(--form-input-background-color);
    border: 2px solid var(--form-input-border-color);
    color: var(--form-input-text-color);
    font-size: 1rem;
    font-weight: 500;
  }

  .form-checkbox {
    height: 15px;
    width: 15px;
  }

  .form-errormessage {
    color: var(--danger-color);
  }

  .field-validation {
    height: 25px;
  }

  .field-validation-error {
    color: var(--danger-color);
  }
}
